# OS / junk
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
*.log

# Node / tooling
node_modules/

# Secrets
.env
assets/notUsed/Herc-bkgrd.PNG
assets/notUsed/saratoga-bkgd with treehouses.png
assets/notUsed/snow.svg
assets/notUsed/up-home-orig.png
assets/notUsed/up-home.png
